{% load static %}
{% load gems_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{% block mainmenu %}
{% show_main_menu %}
				{% if request.user.is_authenticated %}
				<li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
				{% else %}
				<li class="last"><a href="{% url 'register' %}" >Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

{% block content %}
{% endblock %}
</body>
</html>