<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

{% if request.user.is_authenticated %}
<li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
{% else %}
<li class="last"><a href="{% url 'register' %}" >Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
{% endif %}
{% for gem in gems %}
<h2>{{gem.title}}</h2>
{{gem.size}}
{{gem.type}}
{{gem.clarity}}
{{gem.description}}
{{gem.price}}
{% endfor %}
</body>
</html>